In [1]:
# Script #1:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [5]:
#Script #2:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")
if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [6]:
#Script #3:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [10]:
#Script #4:
x = 2
y = 2
print(x == y) # Prints out True
print(x is y) # Prints out False

True
True

In [11]:
#Script #5:
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

In [22]:
# change this code
number = 18
second_number = 10
first_array = [1, 0, 0]
second_array = [0,4]

# do not change here
if number > 15:
    print("1")
if first_array:
    print("2")
if len(second_array) == 2:
    print("3")
if len(first_array) + len(second_array) == 5:
    print("4")
if first_array and first_array[0] == 1:
    print("5")

1
2
3
4
5

In [33]:
#input
in1 = int(input("Input 1: "))
in2 = int(input("Input 2: "))
in3 = int(input("Input 3: "))
#setting
if in1 < in2:
    if in2 < in3:
        print("\nThe highest number is: " + str(in3))
    else:
        print("\nThe highest number is: " + str(in2))
else:
    print("\nThe highest number is: " + str(in1))

Input 1: 4
Input 2: 6
Input 3: 1

The highest number is: 6

In [36]:
#input
yesno = input("Are you sure you want to quit?(y/n): ")
#setting
if yesno == "y" or yesno == "Y":
    print("Hope to see you again!!!")
elif yesno == "n" or yesno == "N":
    print("Welcome back!!")
else:
    print("Invalid input!")

Are you sure you want to quit?(y/n): n
Welcome back!!

In [4]:
#Script #1:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [15]:
for x in range(5):
    print(x)
for x in range(3,6):
    print(x)

0
1
2
3
4
3
4
5

In [19]:
#Script #3:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [23]:
#Script #4:
for num in range(2, 10):
        if num % 2 == 0:
            print("Found an even number", num)
            continue
        print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [31]:
#Script #5:
count = 0
while count < 60:
    print(count)
    count += 10

0
10
20
30
40
50

In [35]:
#Script #6:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [42]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470, 743, 527]
for x in numbers:
    if x < 237:
        if x % 2 == 0:
            print(x)
            continue

236
236
162
104
58
24
126

In [48]:
x = -10
while x < 110:
    x += 30
    print(x)

20
50
80
110